@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body, div, section, li, ul, li, h1, h2, a, p, img, input {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #27272e;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  border: none;
}

body {
  height: 100vh;
  background-color: #e5ebf5;
}